@charset "UTF-8";

// This is the MAIN THEME COLOR.
$theme_color = #2281BE;
$theme_color_light = #6EBBE0;

// Light mode color set.

$fake_background_color = #F8F8F8;

$background_color = white;

$list_title_color = #444;

$list_desc_color = #555;

// Dark mode color set.

$dark_fake_background_color = black;

$dark_background_color = #232323;

$dark_list_title_color = #bbb;

$dark_list_desc_color = #aaa;
